<h1>Welcome to the Pollutant API</h1>

<p>
    Our intention is to make a list of oil refineries available as an API.
    <br/>Initially with the source: <A href="https://en.wikipedia.org/wiki/List_of_oil_refineries">Wikipedia List Of Oil Refineries</a>
    <br/>Outputting: Name of refinery, location, and number of barrels produced.
</p>
